@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Italianno&family=Kdam+Thmor+Pro&family=Kurale&family=Nunito:ital,wght@0,200;1,200&family=Playfair+Display+SC&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kurale&family=Nunito:wght@200&family=Playfair+Display+SC&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}
body{
    background-color: #ced74d;
}
nav{
    background-color: #ced74d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 50px;
}


nav i{
    font-size: 2em;

}
.main{
    display: flex;
    flex-direction: row;
}
.navigation{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 30vw;
}
.navigation input{
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-radius: 10px;
}
.navigation li{
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    font-family: 'Playfair Display SC', serif;
    list-style: none;
    text-align: center;
}
.container{
    margin-left: 20px;
    height: 409vh;
    width: 65vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
#doth{
    background-color: white;
    height: 80vh;
    margin-bottom: 20px;
   
}
#lookup{
    background-color: orange;
    height: 80vh;
    margin-bottom: 20px;
}
#pombe{
    background-color: red;
    height: 80vh;
    margin-bottom: 20px;
}
#sipombe{
    background-color: indigo;
    height: 80vh;
    margin-bottom: 20px;

}
#favs{
    background-color: indianred;
    height: 80vh;

}
.title{
    padding: 20px;
}
.title h1{
    font-family: 'Playfair Display SC', serif;
}
.subcontainer{
    display: flex;
    justify-content: space-around;
    height: 71vh;
    padding: 20px;
}
.img{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#name{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 2.0em;
    color: #5b5e06;
}
.image{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
}
#image{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
#like{
    font-size: 1.0em;
    color: #5b5e06;
}
#add{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 1.7em;
}
#glass{
    font-family: 'Nunito', sans-serif;
    color: #5b5e06;
    font-size: medium;
}
#type{
    font-family: 'Nunito', sans-serif;
    color: #5b5e06;
    font-size: medium;
    
}
#ingredients{
    font-family: 'Nunito', sans-serif;
    color: #5b5e06;
    font-size: medium;
}
#description{
    font-family: 'Nunito', sans-serif;
    color: #5b5e06;
    font-size: medium;

}





.dInfo{
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}
.dInfo p{
    color: #5b5e06;
    font-size: 1.2em;
}

.cardContainer{
    width: 50vw;
    height: 75vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    overflow-x: auto;
    
}

/* Add scroll bar in chrome
.cardContainer::-webkit-scrollbar{
    display: none;
}
/*Add scroll bar in firefox*/
/*.cardContainer{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */
.dcard{
    margin-left: 10px;
    height: 180px;
    width: 150px;
    position: relative;
    
}
#dimage{
    height: 180px;
    width: 150px;
    border-radius: 10px;

}
.dcard p{
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
}